.heading{

  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
  
}

body
{
  color: white;
  background: #3f1a5e;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name1 ,#result_emotion_name2  
{
  color: black;
}
.emo_name
{
  font-size: 40px;
}
.emoj_name
{
  font-size:48px;
}
